.body{
    background-color: grey;
}
.heading {
    text-align: center;
}
.firstSec{
    
    padding-left: 500px;
}
.secSet{
    
    padding-left: 500px;
}
.one{
    margin-left: 50px;
}

.two{
    margin-left: 57px;
}

.three{
    margin-left: 28px;
}

.four{
    margin-left: 149px;
}

.calB{
    margin-left: 305px;
}

.five{
    margin-left: 51px;
}

.six{
    margin-left: 41px;
}

.seven{
    margin-left: 32px;
}
